<div class="background">
    <div class="container">
        <h1 class="iron-cinema">Ironhack Cinema</h1>
        <p>Click on the movie to check the showtimes</p>
        <div class="row">
            {{#each movies}}
            <div class="col-sm-4">
                <div class="" style="width: 12rem;">
                    <img src={{image}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <a href="/movies/{{_id}}" class="btn">See more</a>
                    </div>
                </div>
            </div>
            {{/each}}