body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.home {
    background-image: url('/images/cinema.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1450px;
    height: 900px;
}
.cinema {
  float: right;
}

#h1-cinema {
  color:white;
  font-size: 7rem;
  margin-right: 205px;
  margin-top: 53px;
}

.button {
  background-color:white;
  color: #679dad;
  text-decoration: transparent;
  border: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 22px;
  position: relative;
  top: 30px;
  
}

.iron-cinema {
  color: black;
}

.row {
  padding-top:10px;
  padding-bottom: 10px;
}

.btn {
  position: absolute;
  bottom: 10px;
  margin-top: 70px;
  margin-left: 20px;
  color: #007bff !important;
  text-decoration: underline;
  font-weight: bold!important;
  
 
}

.card-img-top {
  margin-top: 10px;
}

.card-body {
  height: 150px;
}

.images {
  display:flex;
  flex-direction: row;
  padding-top: 30px;
}
.images img {
  width: 45%;
  height: 50%;
  margin-top: 20px;
}

.movie-titles {
  padding-left:60px;
  align-items: left;
  margin-top: 20px;

  
}

.h3-stars {
  position: relative;
  top: 15px;
}
.ul-stars {
  position: relative;
  right: 20px;
  top: 20px;
  
}

.go-back {
  position: relative;
  bottom: 15px;
  text-decoration: underline;
}

.p-movies {
  position: relative;
  top: 40px;
}

.background {
  position: relative;
  top: 30px;

}